<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.pgb">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".Activity.MyApplication.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo144_144"
        android:label="@string/app_name"
        android:sharedUserId="android.uid.system"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.Guide.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wx11a9721b16987d13" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.Activity_Login" />
        <!-- 配置APP ID -->
        <meta-data
            android:name="BUGLY_APPID"
            android:value="7c7419100c" />
        <!-- 配置APP版本号 -->
        <meta-data
            android:name="BUGLY_APP_VERSION"
            android:value="1.0" />
        <!-- 配置APP渠道号 -->
        <meta-data
            android:name="BUGLY_APP_CHANNEL"
            android:value="1" />
        <!-- 配置Bugly调试模式（true或者false） -->
        <meta-data
            android:name="BUGLY_ENABLE_DEBUG"
            android:value="true" />

        <!-- 百度地图api -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="cxaqFq3izVDfEWZBSq1AMTsVSwFQi3Qe" />

        <receiver android:name=".Utils.download.ApkInstallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Activity.Activity_MainCenter"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Activity_Resgister"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ActivityUpLoadImage"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Activity_XJ.Activity_addBJ"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".News.NewMain" />
        <activity android:name=".News.NewsWebview" />
        <activity
            android:name=".Activity.SphereOfBusiness"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Activity_XJ.CreateXJ"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".Activity.Core.SelectCompanyPeople" />
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activity.Activity_XJ.Activity_XjInfo"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Activity_XJ.Activity_BjInfo"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Activity_CK.Activity_ZbInfo"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Activity_CK.CreateKC"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Core.SelectPGJG"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Core.Select_DX"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Activity_CK.Activity_Record"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Activity_CK.Activity_MyTask"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Activity_CK.Activity_TbInfo"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Core.SelectCity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Activity_Me.Activity_Auth"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|navigation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Activity_CK.Activity_AddTb"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Activity_Me.Activity_BindInfo"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Guide.ExampleGuideActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity android:name=".Activity.Core.Select_DXMore" />

        <receiver android:name=".BroadCast.AppRegister">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".alipay.PayDemoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Activity_Me.Activity_FastAuth"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|navigation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Activity_Me.Activity_Account"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Activity_Me.CompanyMate"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Core.SelectBM"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Activity_Me.GSRZ"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Core.Activity_ShowBigImage"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Activity_Job.Activity_Home"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Activity_Job.Activity_AddZP"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Activity_Job.Activity_AddQZ"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.PayConfirm"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Activity_Me.Activity_TX"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Activity_Me.Activity_Userinstruction"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Guide.Activity_Center"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Activity_Me.Activity_TXBind"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".News.NewInfo"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.WebView"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.Activity_Job.Activity_jobInfo"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Activity_More"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.UpdateApp.Activity_CheckUpdate"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Activity_Tool.Activity_KCGJ"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Activity_Tool.AddKc"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Activity_Tool.KcbInfo"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <service
            android:name=".BroadCast.NewInfoSerice"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".Activity.Activity_Tool.ProTool"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Activity_ForgetPwd"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name=".Activity.T" />
        <activity
            android:name=".Activity.Activity_Tool.Calculate"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Activity_Tool.Evaluate"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Activity_Tool.EvaluateResult"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Activity_XJ.XJ.XJList"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Activity_Tool.Maptools"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Activity_Job.JobList"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Core.PGJGInfo"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.FileLibrary.FileList"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
    </application>

</manifest>